<!DOCTYPE html>

<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <style>
            canvas {
                border: 1px dashed grey;
            }
        </style>
        <script>
            const drawing_id = <%= drawing.id %>
        </script>
    </head>
    <body>
        <canvas id='drawing' width='1000' height='563'></canvas>
        <p id='position'></p>
        <script src="js/drawing.js"></script>
    </body>
</html>