<!DOCTYPE html>

<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <style>
            canvas {
                border: 1px dashed grey;
            }
        </style>
        <script>
            const websocket_domain = '<%= websocket_domain %>'
            const drawing_id = <%= drawing.id %>
        </script>
    </head>
    <body>
        <canvas id='drawing' width='1000' height='563'></canvas>
        <p id='position'></p>

        <footer>
            <input id='color' type='color' />
            <input id='size' type='range' min=0 max=20 step=0.1 /><span id='size_display'></span>
        </footer>

        <script src="js/drawing.js"></script>
    </body>
</html>