<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <% drawings.each do |drawing| %>
            <p><a href='/drawing?id=<%= drawing.id %>'><%= drawing.name %></a></p>
        <% end %>
    </body>
</html>